@import '@/styles/variable.scss';

.sun-editor {
  border-radius: 8px 8px 0 0;
  border: 1px solid rgb(232, 232, 232);
  svg {
    color: #757575;
  }
  .se-btn:enabled.active {
    background-color: $primary-color !important;
    svg {
      color: white !important;
    }
  }

  .se-toolbar {
    border-radius: 8px 8px 0 0;
  }
}
