$bg-primary-color: #fff;
$button-primary-color: #fff;
$primary-color: #C71D1D;

$black-color: #000;
$white-color: #ffff;
$space-xxl: 88px;
$space-xl: 64px;
$space-l: 40px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 8px;
$space-dropdown: 200px;
