@import '@/styles/variable.scss';

.wrapper-head-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  .wrapper-head-admin-title {
    letter-spacing: 0.4px;
  }

  .wrapper-head-admin-btn-back {
    color: $primary-color;
    svg {
      font-size: 1.2rem;
    }
  }
}
