.wrapper-footer-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  overflow-x: auto;
  &-item {
    display: flex;
    align-items: center;

    &-icon {
      border: 2px solid #ff6571;
      padding: 12px;
      border-radius: 50%;
      margin-right: 8px;
      background-color: #FFE9E9;
    }
    .active {
      font-size: 18px;
      font-weight: 500;
      background-color: white;
    }
  }
  &-item::after {
    content: '';
    width: 100px;
    height: 3px;
    background-color: #ff6571;
  }
  .last-item::after{
    content: none;
  }

}
